/*
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* tablet
  body > #game {
    width: 75%;
    height: auto;    
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 0 0 0;
    padding: 0;
    font-size: 25px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* tablet horizontal
  body > #game {
    width: 75%;
    height: auto;    
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 10% 0 0;
    font-size: 25px;
  }
}
*/
* {
  box-sizing: border-box;
}

:root {
  --B1: 2px solid black;
}

body {
  background-color: #0a0a23;
  background-image: url("../../Assets/Images/townSquare1.jpg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
}

  #gameContainer {
    height: 98vh;
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
  }
    #statsContainer {
      grid-area: 1/1/2/7;
      background-color: rgba(51, 51, 51,0.85);
      height: 40%;
      border: var(--B1);
      display: flex;
      padding: 0.5% 1% 0 1%;
    }
    .playerStats {
      font-size: 20px;
      color: gold;
    }

    strong {
      color: #00bd48;
    }

      div.leftStats {
        justify-content: flex-start;
        width: 33%;
        font-size: 20px;
      }

        #healthText {
          padding-right: 20px;
        }

      div.centerStats {
        justify-content: center;
        width: 33%;
        text-align: center;
        font-size: 20px;
        color: gold;
        font-weight: bold;
      }

      div.rightStats {
        justify-content: flex-end;
        width: 33%;
        text-align: right;
        font-size: 20px;
      }

          #xpText { 
            padding-right: 20px;
          }

    #monsterStatsContainer {
      grid-area: 1/2/2/5;
      background-color: rgba(51, 51, 51,0.85);
      border: var(--B1);
      border-radius: 3%;
      color: gold;
      font-weight: bold;
      background-color: #591c1c;
      margin-top: 10.4%;
      height: 30%;
      padding: 0.5% 1% 0% 2%;
      display: flex;
    }

    #dialog{
      grid-area: 2/2/3/5;
      border: var(--B1);
      display: flex;
      width: 100%;
      text-align: center;
      border-radius: 3.5%;
    }

      .text {
        background-color: rgba(51, 51, 51,0.85);
        color: #00bd48;
        font-size: 25px;
        border-radius: 3%;
      }

    #actionButtons {
      grid-area: 6/2/7/5;
      color: #ffffff;
      width: 100%;
      padding-top: 15%;
    }   
     
      #controls {
        border: 1px solid #0a0a23;
        border-radius: 7%;
        padding: 10px 0;
        color: #ffb50a;
        text-align: center;
        background-color: rgba(51, 51, 51,0.85);
      }
        
      button {
        cursor: pointer;
        color: #0a0a23;
        background-color: #feac32;
        background-image: linear-gradient(#fecc4c, #ffac33);
        border: 3px solid #feac32;
        margin: 0 5% 0 5%;
        font-size: 20px;
      }

  #inventoryContainer{
    grid-area: 3/6/7/7;
    background-color: rgba(51, 51, 51,0.85);
    color: rgb(206, 205, 207);
    width: auto;
    margin: 0 2% 0 0%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    border: 2px solid black;
    border-radius: 2.5%;
  }
    .inventoryHeader{
    grid-row: 1/2;
    text-align: center;
    font-size: 25px;
    padding-top: 3%;
    border-bottom: 1px solid black;
    }
    .inventoryBody{
    grid-row: 2/3;
    margin: 3% 3% 0 3%;
    color: #9c9c9c;
    }
    .inventoryFooter{
    grid-row: 3/4;
    font-size: 17px;
    margin: 0 3% 0 3%;
    border-top: 1px solid black;
    padding-top: 4%;
    }