/*
@media only screen and (max-width: 480px) {
  /* smartphones 
  body > #game {
    width: 100%;
    height: auto;
    margin: 3% 0 0 0;  
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 0 0 0;
    padding: 0;
    font-size: 25px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* smartphone landscape 
  body > #game {
    width: 95%;
    height: auto; 
    margin: 3% 0 0 3%;   
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 0 0 0;
    padding: 0;
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* tablet 
  body > #game {
    width: 75%;
    height: auto;    
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 0 0 0;
    padding: 0;
    font-size: 25px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* tablet 
  body > #game {
    width: 75%;
    height: auto;    
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 10% 0 0;
    font-size: 25px;
  }
}
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #0a0a23;
  background-image: url("../../Assets/Images/townSquare1.jpg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
}

  #gameContainer {
    height: 98vh;
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
  }
    #statsContainer {
      border: 2px solid blue;
      background-color: white;
      padding: 10px;
    }

      .playerStats {
        padding-right: 10px;
        font-size: 20px;
      }

        strong {
          color: #00bd48;
        }

    #monsterStatsContainer {
      grid-area: 1/2/2/5;
      border: 1px solid #0a0a23;
      padding: 5px;
      color: #ffffff;
      background-color: #591c1c;
    }

    #dialog{
      grid-area: 3/2/3/5;
      display: flex;
      width: 100%;
      align-items: center;
      text-align: center;
    }

      .text {
        background-color: rgba(51, 51, 51,0.85);
        color: #ce2323;
        font-size: 25px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 3%;
      }

    #actionButtons {
      grid-area: 6/2/7/5;
      margin: 0 0 0 1%;
      color: #ffffff;
      width: 100%;
      border: 2px solid green;
    }   
     
      #controls {
        border: 1px solid #0a0a23;
        border-radius: 7%;
        padding: 10px;
        color: #ffb50a;
        text-align: center;
        background-color: rgba(51, 51, 51,0.85);
      }

  
        
      button {
        cursor: pointer;
        color: #0a0a23;
        background-color: #feac32;
        background-image: linear-gradient(#fecc4c, #ffac33);
        border: 3px solid #feac32;
        margin: 0 10% 0 0;
        font-size: 20px;
      }
    

  #inventoryContainer{
    grid-area: 3/6/7/7;
    background-color: rgba(51, 51, 51,0.85);
    color: rgb(206, 205, 207);
    width: auto;
    margin: 0 2% 0 0%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    border: 2px solid black;
    border-radius: 2.5%;
  }
    .inventoryHeader{
    grid-row: 1/2;
    text-align: center;
    font-size: 25px;
    padding-top: 3%;
    border-bottom: 1px solid black;
    }
    .inventoryBody{
    grid-row: 2/3;
    margin: 3% 3% 0 3%;
    color: #9c9c9c;
    }
    .inventoryFooter{
    grid-row: 3/4;
    font-size: 20px;
    margin: 0 3% 0 3%;
    border-top: 1px solid black;
    padding-top: 3%;
    }