@media only screen and (max-width: 480px) {
  /* smartphones */
  body > #game {
    width: 100%;
    height: auto;
    margin: 3% 0 0 0;  
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 0 0 0;
    padding: 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* smartphone landscape */
  body > #game {
    width: 95%;
    height: auto; 
    margin: 3% 0 0 3%;   
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 0 0 0;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* tablet */
  body > #game {
    width: 75%;
    height: auto;    
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 0 0 0;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* tablet */
  body > #game {
    width: 75%;
    height: auto;    
  }
  #stats{
    font-size: 20px;
  }
  #text {
    font-size: 20px;
  }
  #controls > button {
    margin: 1% 10% 0 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  width: 50%;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
  text-align: center;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  margin: 0 10% 0 0;
}