@media only screen and (max-width: 480px) {
    /* smartphones */
    body {
        width: 100%;
        background-color: rgb(56, 56, 56);
        background-image: linear-gradient(to bottom,rgba(10, 50, 100,0.5) 80%,rgba(0, 0, 0) );
        padding: 0 1% 0 0;
    }
    #page-layout{
        margin: 1% 1% 0 1%;
    }
    body > #page-layout > #contact-card-container {
        width: 100%;
        padding: 0 0 1% 0;
    }
    #page-layout > #page-inner-layout{
        width: 100%;
        height: auto;
        width: 100%;
    }
    #page-inner-layout > #portfolio-container{
        width: 100%;
        width: 100%;
        height: auto;
    }
    #portfolio-container > img {
        width: 100%;
       } 
    #page-layout > footer {
        background-color:rgba(0,0,0,0.2);
        text-align: center;
    }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    /* smartphone landscape */
    body {
        width: 100%;
        background-color: rgb(56, 56, 56);
        background-image: linear-gradient(to bottom,rgba(10, 50, 100,0.5) 80%,rgba(0, 0, 0) );
        padding: 0 1% 0 0;
    }
    #page-layout{
        margin: 1% 1% 0 1%;
    }
    body > #page-layout > #contact-card-container {
        width: 100%;
        padding: 0;
    }
    #contact-card-container > .contact-card-top {
        padding: 0 0 8% 0;
    }
    .contact-card-top > .contact-card-photo {
        padding: 0 0 5% 0;
    }
    .contact-card-top > .contact-card-photo > img{
        width: 35%;
        left: 32%;
    }
    #page-layout > #page-inner-layout{
        width: 100%;
        height: auto;
    }
    #page-inner-layout > #portfolio-container{
        width: 100%;
        height: auto;
    }
    #page-layout > footer {
        background-color:rgba(0,0,0,0.2);
        text-align: center;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    /* tablet */
    body {
        height: 100%;
        width: 100%;
        background-color: rgb(56, 56, 56);
        background-image: linear-gradient(to bottom,rgba(10, 50, 100,0.5) 80%,rgba(0, 0, 0) );
        padding-right: 0.5rem;
    }
    #page-layout > #contact-card-container {
        width: 100%;
    }
    #contact-card-container > .contact-card-top{
        width: 100%;
        height: auto;
        padding: 0 0 10% 0;
    }
    .contact-card-top > .contact-card-photo {
        align-self: center;
    }
    .contact-card-top > .contact-card-photo > img{
        width: 80%;
        left: 9%;
    }
    #contact-card-container > .contact-card-bottom {
        width: 100%;
        height: auto;
        align-items: center;
    }
    #page-inner-layout > .bio {
        height: auto;
        width: 100%;
    }
    #page-inner-layout > #portfolio-container{
        width: 100%;
        height: auto;
    }
    #page-layout > footer {
        position: relative;
        width: 100%;
        margin: 10px;
        top: 0.25rem;
        height: auto;
        background-color:rgba(0,0,0,0.2);
        text-align: center;
        padding-top: 15px;
    }
  }
:root {
    --B1: linear-gradient(50deg,darkblue 47%,rgb(74, 74, 74) 52%) 1;
    --B2: linear-gradient(50deg,rgb(74,74,74)47%, darkblue 52%) 1;
    --Test: red;
}
* {
    box-sizing: border-box;
 }
/*General Element configuration*/
html {
    max-height: 100%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    background-image: linear-gradient(to bottom,rgba(10, 50, 100,0.5) 80%,rgba(0, 0, 0) );
    }
h2{
    font-family: ariel;
    text-align: center;
}
ul {
    list-style: none;
    line-height: 30px;
    color: darkgray;
}
/*Page Layout*/
#page-layout {
    display: flex; 
    flex-direction: row;
    flex-wrap:wrap;
    }
    /*Contact Card Configuration*/  
    #page-layout > #contact-card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 30%;
    margin: 1% 1% 0 1%;
    }
        .contact-card-top {
            border-style: solid;
            border-image: var(--B1);
            border-width: 2px;
            background-color:rgba(0, 0, 0, 0.2);
            height: auto;
            width: 100%;
            padding: 1% 0 12% 0;
        }
        .contact-card-photo > img {
            border-style: solid;
            border-width: 1px;
            border-radius: 50%;
            width: 70%;
            height: auto;
            position: relative;
            top: 1rem;
            left: 15%;
        }

        .contact-card-name {
            color: darkgray;
            position: relative;
            top: 10%;
            width: 80%;
            right: 10%;
            left: 10%;
            text-align: center;
        }
        
        /*Social Icons - Need to fix heigh issue*/
        .social {
            align-items: center;
            position: relative;
            top: 10%;
            left: 10%;
            width: 80%;
            margin: 10px 0 0 0;
            background-color: rgba(61,81,133,0.1);
            display: grid;
            grid-template-columns: -1vw;
            justify-items: center;
            justify-content: space-evenly;
        }

            .facebook{
                color:black;
                grid-column: 1/2;
            }

            .x {
                color:black;
                grid-column: 2/3;
            }

            .linkedin{
                color:black;
                grid-column: 3/4;
            }

            .github{
                color:black; 
                grid-column: 4/5;
            }

            .facebook:hover, .x:hover, .linkedin:hover, .github:hover{
                color:rgba(107, 107, 107, 0.5);
            }
            .icon-X:hover, .icon-F:hover, .icon-L:hover, .icon-G:hover {
                transform: scale(1.5);
            }
        .contact-card-bottom {
            position: relative;
            width: 100%;
            border-style: solid;
            border-image: var(--B1);
            border-width: 2px;
            margin: 5px 0 0 0;
        }
        .contact-card-bottom > .contact-card-info {
            padding: 0 0 0 1%;
        }
    footer {
        width: 100%;
        height: auto;
        border: 2px solid rgb(75, 75, 75);
        margin: 0.5% 2% 0% 1%;
    }
        .copywrite{
            color:darkgray;
        }
    /* Inner Flexbox*/        
    #page-inner-layout{
        width: 65%;
        display: flex; 
        flex-direction: row;
        flex-wrap:wrap;
        margin: 1% 1% 0 1%;}
    /*Biography*/
    .bio {
        padding: 0 1% 12% 1%;
        width: 100%;
        height: auto;
        border: 2px solid;
        border-image: var(--B1);
        position: relative;
        background-color: rgba(0,0,0,0.2);
        color: darkgray;
    }
    /*Portfolio Flexbox*/
    #portfolio-container {
        display: flex;
        width: 100%;
        height: 30%;
        border: 2px solid;
        background-color: rgba(0,0,0,0.2);
        border-image: var(--B1);
        color: darkgray;
        margin: 1% 0 0 0;
        align-items: center;
        justify-content: space-evenly;
        object-fit: cover;
    }
    #portfolio-container > a:hover {
        transform: scale(1.15);
    }
    #portfolio-container > .projects {
        border: 1px solid black;
        height: 90%;
        width: 23%;
        margin: 2% 0 2% 0;
    }
    .projects > img {
        width: 100%;
        height: 100%;
    }
    #portfolio-container > .project2 {
        border: 1px solid var(--Test);
        height: 90%;
        width: 23%;
        margin: 2% 0 2% 0;
    }
    .project2 > img {
		width: 100%;
        height: 100%;
       } 
    #portfolio-container > .project3 {
        border: 1px solid var(--Test);
        height: 80%;
        margin: 2%;
    }
    #portfolio-container > .project4 {
        border: 1px solid var(--Test);
        height: 80%;
        margin: 2%;

    }
    #portfolio-container > .project5 {
        border: 1px solid var(--Test);
        height: 80%;
        margin: 2%;

    }
    #portfolio-container > a:hover {
        transform: scale(1.15);
    }
